.hero {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vh;

    display: flex;
    flex-direction: column;
    column-gap: 50px;
    position: static;
    text-align: center;
    justify-content: center;
}

body {
    background-color: rgb(235, 235, 235);
}

/* images */

.imgs {
    display: flex;
    position: static;
    justify-content: center;
}

.red {
    transition: all 200ms ease-in;
    transform: scale(1);

    width: 20vw;
    height: 20vw;
    padding: 1rem;
  
    background-image: url(https://github.com/702robin/702robin.github.io/blob/main/test04_portfolio_hoveranimation/assets/portfoliosite_irregularimgs.png?raw=true);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
    mask-image: url(https://github.com/702robin/702robin.github.io/blob/main/test04_portfolio_hoveranimation/assets/portfoliosite_irregularimgs.svg?raw=trueg);
    mask-size: 20vw;
    mask-repeat: no-repeat;
    mask-position: center;
}

.red:hover {
    filter: grayscale(100) blur(100);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

