body {background-color: rgb(0 0 0);}

h1 {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: auto;
}


h3 {color: white;}

p {
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.center { 
    justify-content: center;
}

a:link {color: white;}

a:visited {color: white;}



img{
    width: calc(736px / 2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}