body {background-color: rgb(0 0 0);}

h1 {
    color: white;
    display: block;
    text-align: left;
    margin-top: 100px;
}

h3 {
    color: white;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

p {
    color: white;
    font-size: 18pt;
    margin-left: 300px;
    margin-right: 300px;
}

.center { 
    justify-content: center;
}

a:link {
    color: white;
    text-align: right;
}

a:visited {
    color: white;
    text-align: right;
}

body {
    diplay: flex;
    
}

img{
    width: calc(736px / 2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
