html{
    font-family: Space+Mono;
}

.hero {
    display: flex;
    column-gap: 50px;
}

body {
    background-color: black;
}

h1 {
    color: #ff7919;
    text-shadow: 0px 10px 10px #ffab19;
    display: block;
    text-align: left;
    font-size: 150pt;
    width: 100%;
    line-height: 155pt;
    margin-top: 160px;
    transition: color 1s ease-out 100ms;
}

h1:hover {
    color: black;
    text-shadow: 0px 10px 10px #ffab19;
    display: block;
    text-align: left;
    font-size: 150pt;
    width: 100%;
    line-height: 155pt;
    margin-top: 160px;
}

.hero-img {
    height: 800px;
    display: block;
    align-items: left;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 50px;
}

.heroanimation-A {
    animation: heroanimation-A 3s;
}

.heroanimation-Scanner{
    animation: heroanimation-Scanner 3s;
}

.heroanimation-Darkly {
    animation: heroanimation-Darkly 3s;
}

@keyframes heroanimation-A {
    0% { opacity: 0; transform: translateY(0px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes heroanimation-Scanner {
    0% { opacity: 0; transform: translateY(0px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes heroanimation-Darkly {
    0% { opacity: 0; transform: translateY(0px); }
    100% { opacity: 1; transform: translateY(0); }
}


h2 {
    color: #ff7919;
    font: Roboto Mono;
    font-size: 50pt;
    text-align: left;
    margin-bottom: 150px;
    margin-left: 585px;
}

p {
    color: #ff7919;
    font: Roboto Mono;
    font-size: 18pt;
    width: 550px;
    margin-left: 585px;
    text-indent: 25px;
}

p:first-of-type {
    text-indent: 0;
}

.nav {
    display: inline;
    color: #ff7919;
    position: fixed;
    align-items: center;
}

a:link, a:visited {
    color: #ff7919;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
    text-decoration: none;
}